// background-color
$background-color: linear-gradient(45deg, #00DC82 0%, #36E4DA 50%, #0047E1 100%);
$primary-color: rgb(245, 245, 247);
$secondary-color: rgb(1, 42, 53);

// colors
$primary-text-color: black;
$white-text-color: white;
$red-text-color: red;
$dark-red-text-color: darkred;
$green-text-color: green;
$grey-text-color: grey;

$light-green-color: #00DC82;

// z-index
$spotlight-z-index: 10;
$header-z-index: 10;
$footer-z-index: 10;
$links-home-z-index: 11;
$links-navigation-z-index: 11;
$modal-z-index: 100;

// height
$header-height: 20px;
$footer-height: 20px;